 nav{
      position: fixed;
      background: #58B19F;
      height: 50px;     

    }

    section{
      background-image: url(back.jpg);
      background-size: cover;
      width: 100%;
      height: 800px;
    }
    .box{
      margin-top: 20px;
      height: 1000px;
    }
    .moded{
      padding:0 !important;
      margin:0 !important;
    }

    nav li a:hover{
      background:rgb(0, 128, 32);
    }
    
    .profilepicture{
      vertical-align: middle;
      width: 45px;
      height: 45px;
      margin-top:5px;
      border-radius: 50%;
      border:2px solid rgba(225,225,225,0.5);
      
    }

   #logo{
  height:45px;
  margin-top:5px;
}
.drp{
  background: rgba(0, 0, 0, 0.7);
  
}

